<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
          {% block title %}
          {% endblock %}
      </title>
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}?123">
  </head>
  <body>
    <header>
        <img src="{{url_for('static', filename='assets/icon48.png')}}" width="50" height="50" id="logo">
        <h1 id="name">Secure password generator</h1>
    </header>
    {% block body %}
    {% endblock %}
    <footer>
      <address id="contacts">
        <h4>Contacts:</h4>
        <div>
            <a href="https://github.com/Gwarek2/"><img src="{{url_for('static', filename='assets/github-icon-dark.png')}}" alt="My GitHub profile"></a>
            <a href="https://www.reddit.com/user/TheSamePerson1"><img src="{{url_for('static', filename='assets/reddit-icon.png')}}" alt="My Reddit profile"></a>
        </div>
        <div>
          Email: <strong>fedorsah@gmail.com</strong>
        </div>
      </address>
    </footer>
  </body>
</html>