:root {
    --main-color: #0d6efd;
}

@media screen and (max-width: 800px) {
    main {
        margin-left: 0 !important;
        top: 80px !important;
        left: 0 !important;
    }
    nav {
        position:  relative !important;
        top: 100px !important;
        width: 100% !important;
        flex-direction: column !important;
    }
    .column-container {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 360px !important;
    }
}

body {
    font-family: sans-serif;
    line-height: 35px;
}

nav {
    top: 0;
    left: 0;
    width: 20%;
    height: 120vh;
}

nav > header {
    width: 100%;;
}

nav > header > h1 {
    padding: 10px;
}

nav > div {
    border-top: solid var(--main-color) 1px;
    border-bottom: solid var(--main-color) 1px;
}

nav > div > a {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: solid #0d6efd 1px;
    color: #0d6efd;
    text-decoration: none;
}

main {
    position: relative;
    top: 60px;
    margin-left: 300px;
    padding: 10px;
}

p, ol , ul {
    font-size: 18px;
}

iframe {
    width: 100%;
    margin-bottom: 20px;
    border: solid var(--main-color) 2px;
}

footer {
    position: relative;
    top: 60px;
}


#title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 95px;
}

#title > * {
    margin-left: 20px;
}


.column-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 95%;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.fixed {
    position: fixed;
    z-index: 1;
}

.red-text {
    color:red;
    font-weight: bold;
}

.examples {
    border: solid var(--main-color) 2px;
    max-width: 200px;
    padding: 10px;
    line-height: 35px;
}